pre {
  color: white;
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 16px;
}

canvas{
  float: right;
  width: 200px;
  height: 150px;
  color: white;
  border: white dashed 2px;
  padding: 15px;
}

.jumbotron-fluid{
  height: 100vh;
}