pre {
  color: white;
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 16px;
}
.h, .g, .n3, .t1, .a4 {
  color: red;
}

.a1, .m, .dash, .a3, .s2 {
  color: white;
}

.n1, .a2, .s1, .t2 {
  color: blue;
}
 
canvas{
  width: 200px;
  height: 150px;
  color: white;
}

.jumbotron-fluid{
  height: 100vh;
}
 
.footer {
  clear: both;
  width: 100%; 
  min-height: 60px; 
  line-height: 60px;
}
 
 
 
